@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");

body {
  /* background-image: url("texture2.jpg"); */
  background-color: #4b545c !important;
  font-family: "Oswald", sans-serif !important;
}

.profile-name {
  letter-spacing: 2px;
}

.text-underlined {
  text-decoration: underline;
}

.text-main {
  color: #4b545c !important;
}

.bg-main {
  background-color: #4b545c !important;
}

.bg-light-extra {
  background-color: #d3d4d5 !important;
}
